
@import url('https://fonts.googleapis.com/css2?family=Joan&family=Merriweather:ital,wght@0,300;1,700&family=Montserrat+Alternates:ital,wght@0,300;1,200&display=swap');
.navbar{
    a{
        color: rgb(2, 2, 2);
        font-size: 16px;
        font-family: 'Merriweather', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .card{
        background-color: rgb(5, 7, 5);
    }
}