$colorTarjeta: rgb(240, 242, 248);
$colorTarjeta2:rgb(240, 242, 248);
$titulos: 45px;
$colorone: rgb(36, 20, 82);
$colortwo: rgb(53, 53, 54);
$colorthree: rgb(48, 102, 250);
$colorfooter: rgb(48, 46, 46);
$footer:(
    background: $colorfooter,
    height:150px,
    display: grid,
    align-items: center,
    place-content: center,
    color:rgb(239, 245, 245),
    font-size: 16px,
);