@import url("https://fonts.googleapis.com/css2?family=Joan&family=Merriweather:ital,wght@0,300;1,700&family=Montserrat+Alternates:ital,wght@0,300;1,200&display=swap");
.main h1, .main2 h1 {
  font-size: 45px;
  color: #3d3b3b;
  margin-top: 0px; }

.main img, .main2 img {
  width: 100%; }

.main .tarjetita, .main2 .tarjetita {
  background-color: #f0f2f8; }

.main h5, .main2 h5 {
  color: #383880; }

.main2 .tarjetita {
  background-color: #f0f2f8; }

.navbar a {
  color: #020202;
  font-size: 16px;
  font-family: 'Merriweather', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }

.navbar .card {
  background-color: #050705; }

.footer {
  background-color: #302e2e;
  height: 150px;
  display: grid;
  align-items: center;
  place-content: center; }
  .footer p {
    color: azure;
    font-size: 16px; }

.btn {
  background-color: #3066fa;
  color: #fcfafa;
  padding: 7px 10px;
  border: 0;
  align-items: center; }
