.main h1, .main2 h1 {
  font-size: 45px;
  color: #241452;
  margin-top: 0px; }

.main img, .main2 img {
  width: 100%; }

.main .tarjetita, .main2 .tarjetita {
  background-color: #f0f2f8; }

.main h5, .main2 h5 {
  color: #353536; }

.main2 .tarjetita {
  background-color: #f0f2f8; }

.main3 {
  display: flex;
  flex-direction: column;
  display: wrap;
  justify-content: center;
  width: 300px; }

.navbar a {
  color: #020202;
  font-size: 16px; }

.navbar .card {
  background-color: #050705; }

.btn {
  background-color: #3066fa;
  color: #fcfafa;
  padding: 7px 10px;
  border: 0;
  align-items: center; }

* {
  padding: 0;
  margin: 0; }

html, body, section {
  height: 100%;
  min-height: 100%; }

body {
  background-color: #f5f3f3; }

form {
  margin: 20px;
  padding: 20px; }
